<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class ="navbar-brand mr-0 mr-md-2" href="/" aria-label="WorkingTalent">
      <img src="https://cdn.join.com/6454d17595a1c30009b58359/working-talent-logo-s.png">
    </a>
    <div class = "navbar-nav-scroll">
            <ul class = "navbar-nav bd-navbar-nav flex-row">
                <li class = "nav-item">
                    <a class="nav-link" href="/" onclick="">Home</a>
                </li>
                <li class = "nav-item">
                    <a class="nav-link" href="/" onclick="">Catalogus</a>
                </li>
            </ul>
            <ul class = "navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">"Hallo Gebruiker"::after
                    </a>
                    <div class = "dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                        <a class="dropdown-item" href="">...</a>
                        <a class="dropdown-item" href="">...</a>
                        <a class="dropdown-item" href="">...</a>
                    </div>
                </li>
            </ul>
        </div>
</header>
