<nav class="navbar navbar-expand-md bg-body-bg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="https://cdn.thalia.nu/public/thumbnails/partners/logos/05d929718a399add_fit_medium.webp?Key-Pair-Id=K1299LB00EJZ7R" routerLink="/" alt="WorkingTalent" class="img-fluid" height="50" width="200">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-black" routerLink="/catalogus"><strong>Catalogus</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" routerLink="/"><strong>Bestelgeschiedenis</strong></a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="btn text-decoration-none" routerLink="/">
                        Uitloggen
                    </button>
                </li>
                <li class="nav-link text-black" routerLink="/">
                    <i class="fa-solid fa-bell"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>