
  /* Style for navigation links within the header */
  .nav {
    padding-top: 0;
    padding-bottom: 0px;
    display:inline; /* Use flexbox for layout */
  }
  
  .navbar-brand {
    height:100%;
    width: auto;
  }

  .navbar-nav a{
    padding: 10px;
    margin: 10px;
    text-decoration: none; /* Remove underlines from links */
    font-size:large;
  }

  button {
    background-color: #00e600;
  }

  .navbar-nav a:hover {
    background-color: #00e600;
  }

  hr {
    height: 4px;
    border: none;
    background-color: #c1c1c1;
    margin: 0%;
  }

