<h1><strong>Catalogus Lesmateriaal</strong></h1>
<div class="row justify-content-md-center p-4">
    <div class="card-group">
        <div class="col-md-auto p-2">
            <div class="card h-100 p-4">
                <img src="assets/wt-logo-test.svg" class="card-img-top" alt="img-thumbnail"> <!-- Link naar product pagina -->
                <div class="card-body">
                    <h5 class="card-title"><strong>Book 1</strong></h5>
                    <p class="card-text">Description of the book or information about the book</p>
                </div>
            </div>
        </div>
        <div class="col-md-auto p-2">
            <div class="card h-100 p-4">
                <img src="assets/wt-logo-test.svg" class="card-img-top" alt="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title"><strong>Book 2</strong></h5>
                    <p class="card-text">Description of the book or information about the book</p>
                </div>
            </div>
        </div>
        <div class="col-md-auto p-2">
            <div class="card h-100 p-4">
                <img src="assets/wt-logo-test.svg" class="card-img-top" alt="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title"><strong>Book 3</strong></h5>
                    <p class="card-text">Description of the book or information about the book</p>
                </div>
            </div>
        </div>
    </div>
</div>