<h1><strong>Catalogus Lesmateriaal</strong></h1>
<div class="row p-1">
    <div class="card-group">
        <div class="col-sm-auto p-2">
            <div class="card p-1" style="width: 18rem;">
                <img src="assets/wt-logo-test.svg" class="card-img-top" alt="img-thumbnail"> <!-- Link naar product pagina -->
                <div class="card-body">
                    <h5 class="card-title">Book 1</h5>
                    <h6 class="card-subtitle text-muted">Auteur</h6>
                    <p class="card-text">Description of the book or information about the book</p>
                </div>
            </div>
        </div>
        <div class="col-sm-auto p-2">
            <div class="card p-1" style="width: 18rem;">
                <img src="assets/wt-logo-test.svg" class="card-img-top" alt="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Book 2</h5>
                    <h6 class="card-subtitle text-muted">Auteur</h6>
                    <p class="card-text">Description of the book or information about the book</p>
                </div>
            </div>
        </div>
        <div class="col-sm-auto p-2">
            <div class="card p-1" style="width: 18rem;">
                <img src="assets/wt-logo-test.svg" class="card-img-top" alt="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Book 3</h5>
                    <h6 class="card-subtitle text-muted">Auteur</h6>
                    <p class="card-text">Description of the book or information about the book</p>
                </div>
            </div>
        </div>
    </div>
</div>