<h1><strong>Catalogus Lesmateriaal</strong></h1>
<div class="row p-1">
    <div class="card-group">

        <div class="col-sm-auto p-2" *ngFor="let book of books">
            <div class="card p-1" style="width: 18rem;">
                <img src="assets/wt-logo-test.svg" class="card-img-top" alt="img-thumbnail"> <!-- Link naar product pagina -->
                <div class="card-body">
                    <h5 class="card-title">{{ book.name }}</h5>
                    <h6 class="card-subtitle text-muted">Auteur</h6>
                    <p class="card-text">{{ book.description }}</p>
                </div>
            </div>
        </div>

    </div>
</div>
