.cover-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image-details {
    display: flex;
    flex-direction: row;
}

.book-image {
    padding-right: 20px;
    width: 40%;
    max-height: 400px;
}

.detail {
    padding-left: 10px;
}

.button-reserve button {
    background-color: #00e600;
}

.button-edit button {
    background-color: #00e600;
}

.title-and-buttons {
    margin-top: 1rem;
}

.button-back a:hover {
    color: #00e600;
}

.button-back a {
    color: gray;
}
.button-cancel {
    background-color: gray;
}

.button-order {
    background-color: #00e600;
}