<div class="order-history" *ngIf="admin == 'true'">
    <div class="container-fluid">
        <h2>Besteloverzicht</h2>
        <div class="btn btn-outline">
            <a routerLink="/boek-toewijzen" class="text-decoration-none text-black">
                Boek toewijzen
            </a>
        </div>
    </div>    
    <table>
        <thead>
            <tr>
                <th>Startdatum</th>
                <th>Einddatum</th>
                <th>Lesmateriaal</th>
                <th>Exemplaar</th>
                <th>Naam</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody *ngFor="let order of orders">
            <tr class="order-item">
                <td>{{ order.startDate | date:'dd-MM-yyyy' }}</td>
                <td>{{ order.endDate | date:'dd-MM-yyyy' }}</td>
                <td>
                    {{ order.copy?.book?.title || order.book?.title }}
                </td>
                <td>
                    <div *ngIf="order.copy && order.copy.id !== ''">
                        {{ order.copy.id }}
                    </div>
                    <div *ngIf="!order.copy">
                        Geen exemplaar
                    </div>
                </td>
                <td>{{ order.user.firstName }}</td>
                <td>{{ order.status }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="order-history" *ngIf="admin == 'false'">
    <h2>Besteloverzicht</h2>
    <table>
        <thead>
            <tr>
                <th>Startdatum</th>
                <th>Einddatum</th>
                <th>Lesmateriaal</th>
                <th>Exemplaar</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody *ngFor="let order of orders">
            <tr class="order-item">
                <td>{{ order.startDate | date:'dd-MM-yyyy' }}</td>
                <td>{{ order.endDate | date:'dd-MM-yyyy' }}</td>
                <td>
                    {{ order.copy?.book?.title || order.book?.title }}
                </td>
                <td>
                    <div *ngIf="order.copy && order.copy.id !== ''">
                        {{ order.copy.id }}
                    </div>
                    <div *ngIf="!order.copy">
                        Geen exemplaar
                    </div>
                </td>
                <td>{{ order.status }}</td>
            </tr>
        </tbody>
    </table>
</div>