  .table {
    margin-top: 20px;
  } 

  .button-toewijzen {
    background-color: #00e600;
    color: black;
  }

  .table th {
    background-color: #00e600;
  }

  .button-uitlenen {
    background-color: #00e600;
    color: black;
  }

  .button-terugbrengen {
    background-color: #00e600;
    color: black;
  }
