<div class="assign-product">
    <div class="container-fluid">
        <form [formGroup]="AssignForm" (ngSubmit)="AssignProduct()">
            <!-- Trainee -->
            <div class="col mb-3">
                <label class="form-label select-label">Assignee</label>
                <select class="form-select form-select-sm" formControlName="user">
                    <option *ngFor="let user of users" value={{user.id}}>{{user.firstName + user.lastName}}</option>
                </select>
            </div>
            <!-- Boek -->
            <div class="col mb-3">
                <label class="form-label select-label">Boeken</label>
                <select class="form-select form-select-sm" formControlName="book" (change)="onBookChange()">
                    <option *ngFor="let book of books" value={{book.id}}>{{book.title}}</option>
                </select>
            </div>
            <!-- Exemplaar -->
            <!-- error message. hij kan niet werken met bookcopies -->
            <div class="col mb-3">
                <label class="form-label select-label">Exemplaar</label>
                <select class="form-select form-select-sm" formControlName="copy">
                    <option *ngFor="let copy of Bookcopies" value={{copy.id}}>{{copy.id}}</option>
                </select>
            </div>
            <div class="btn btn-assign">
                <button type="submit" class="btn submit" [disabled]="!AssignForm.valid">
                    Toewijzen
                </button>
            </div>
        </form>
    </div>
</div>
  