.button-cancel {
    background-color: gray;
}

.btn-assign {
    background-color: #00e600;
}

.button-submit-bestel {
    background-color: #00e600;
}

.button-submit-terug {
    background-color: #00e600;
}