<form>
    <div class = "header">
        <img src="https://andwork.com/Company/Logo/0012p00003Ndy1yAAB" alt="Working Talent" width="300" height="120" class="logo">
    </div>  
    <div class="container">   
        <label></label>   
        <input type="text" placeholder="Gebruikersnaam" name="username" required>  
        <label></label>   
        <input type="password" placeholder="Wachtwoord" name="password" required>  
        <a routerLink="/catalogus">
            <button type="button" class="text-black">
               Inloggen
            </button>
        </a>
        <!-- <button type="submit">Log in</button>    -->
    </div>   
</form>         