<form>
    <div class = "header">
        <img src="https://andwork.com/Company/Logo/0012p00003Ndy1yAAB" alt="Working Talent" width="300" height="120" class="logo">
    </div>  
    <div class="container">   
        <label></label>   
        <input type="text" placeholder="Gebruikersnaam" name="username" required>  
        <label></label>   
        <input type="password" placeholder="Wachtwoord" name="password" required>  
        <button type="button">
            <a class="text-black " routerLink="/booklist"> Log in </a>
        </button>
        <!-- <button type="submit">Log in</button>    -->
    </div>   
</form>         