<div class="container-fluid">
    <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/catalogus" (click)="resetQuery()">
            <h1><strong>Catalogus</strong></h1>
          </a>
          <div class="search-bar">
            <input class="search-input me-2" type="text" [(ngModel)]="query" (keyup.enter)="onSearch()" style="width: 250px;" placeholder="Zoeken op titel...">
            <button class="btn btn-outline" (click)="onSearch()">Zoek</button>
          </div>
          <div *ngIf="admin == 'true'">
            <div class="btn btn-outline">
                <a routerLink="/boek-nieuw" class="text-decoration-none text-black">
                    Nieuw boek toevoegen
                </a>
            </div>
          </div>
        </div>
    </nav>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-5">
        <div *ngFor="let book of books" class="col mb-3">
            <a [routerLink]="['/boek', book.id]" class="text-black text-decoration-none">
                <div class="card h-100 shadow text-bg-light">
                    <img src="assets/no-book-cover.png" alt="img-thumbnail" class="card-img-fluid mx-auto" style="width: 20rem;">
                    <div class="card-body">
                        <div class="title">
                            <h5 class="card-title"> {{ book.title }} </h5>
                        </div>
                        <div class="author">
                            <h6 class="card-subtitle text-muted">{{book.author.name}}</h6>
                        </div>
                        <div class="description">
                            <p class="card-text">
                                {{ book.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>     
</div>    
             