<div class="container-fluid">
    <h1>Nieuw boek toevoegen</h1>
    <hr>
    <form [formGroup]="newBookForm" (ngSubmit)="SubmitButtonType()">
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Titel <span class="text-danger">*</span></span>
            <input formControlName="title" type="text" class="form-control" required>
        </div>
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Auteur <span class="text-danger">*</span></span>
            <input formControlName="author" type="text" class="form-control"  required>
        </div>
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">ISBN</span>
            <input formControlName="isbnNumber" type="number" class="form-control">
        </div>
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Beschrijving</span>
            <!-- <input formControlName="description" type="text" class="form-control" > -->
            <textarea class="form-control" name="description" id="description" rows="3" formControlName="description"></textarea>
        </div>
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Uitgever</span>
            <input formControlName="publisher" type="text" class="form-control">
        </div>
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Publicatiedatum</span>
            <input formControlName="releaseDate" type="date" class="form-control">
        </div>
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Editie</span>
            <input formControlName="edition" type="number" class="form-control">
        </div>
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Format</span>
            <input formControlName="format" type="text" class="form-control">
        </div>
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Bladzijdes</span>
            <input formControlName="pageCount" type="number" class="form-control">
        </div>
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Tags</span>
            <input formControlName="tags" type="text" class="form-control" placeholder="Scheid de verschillende tags met een komma en een spatie">
        </div>
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Specialisatie</span>
            <input formControlName="relatedCourses" type="text" class="form-control" placeholder="Scheid de verschillende specialisaties met een komma en een spatie">
        </div>
        <div class="input-group col mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Exemplaren</span>
            <input formControlName="copies" type="text" class="form-control" placeholder="Scheid de verschillende exemplaren met een komma en een spatie">
        </div>

        <div class="button-add">
            <button type="button" class="btn text-black" data-bs-toggle="modal" data-bs-target="#addBookModal" [disabled]="newBookForm.invalid">
                Toevoegen
            </button>  
        </div>
        <div class="modal-layout">
            <div class="modal fade" id="addBookModal" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title">Toevoegen</h1>
                        </div>
                        <div class="modal-body">   
                            Weet je zeker dat je dit boek wilt toevoegen?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="button-cancel btn text-black" data-bs-dismiss="modal">Annuleren</button>
                            <button type="submit" class="button-submit-catalog btn" (click)="setSubmitButtonType('submitCatalogus')">Toevoegen en naar catalogus pagina</button>
                            <button type="submit" class="button-submit-terug btn" (click)="setSubmitButtonType('submitExtra')">Toevoegen en nog een boek toevoegen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                     
    </form>
</div>



